  <section class="container-fluid home">
    <div class="gradient-main">
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav-custom">
        <a class="navbar-brand" href="#"><img src="../../assets/img/logo-moulin.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="nav navbar-nav mr-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>

        </div>
      </nav>
      <div class="container-title-header">
        <h1 class="title-header">Location de bureaux suréquipés</h1>
        <h1 class="title-header">à <span class="animated infinite bounce delay-2s">Saint-Victoret</span></h1>
      </div>
      <div class="informations-additionnal">
        <p class="info-txt">Coworking, bureaux équipés à louer - Réservez dès maintenant votre bureau à Saint-Victoret ! Plus d'informations au 06.70.68.17.74</p>
      </div>
    </div>
  </section>

  <section class="container-fluid details">
    <div class="row">
      <div class="col-md-2 bureaux-detail-1">
        <div class="gradient">
          <div class="container-title">
            <h1 class="title">01</h1>
            <h2 class="subtitle">petit bureau</h2>
            <button routerLink="/bureau1" class="btn btn-danger custom-btn">
              Découvrir
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 bureaux-detail-2">
        <div class="gradient">
          <div class="container-title">
            <h1 class="title">02</h1>
            <h2 class="subtitle">petit bureau</h2>
            <button routerLink="/bureau2" class="btn btn-danger custom-btn">
              Découvrir
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 bureaux-detail-3">
        <div class="gradient">
          <div class="container-title">
            <h1 class="title">03</h1>
            <h2 class="subtitle">petit bureau</h2>
            <button routerLink="/bureau3" class="btn btn-danger custom-btn">
              Découvrir
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 bureaux-detail-1">
        <div class="gradient">
          <div class="container-title">
            <h1 class="title">04</h1>
            <h2 class="subtitle">petit bureau</h2>
            <button routerLink="/bureau4" class="btn btn-danger custom-btn">
              Découvrir
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 bureaux-detail-2">
        <div class="gradient">
          <div class="container-title">
            <h1 class="title">05</h1>
            <h2 class="subtitle">petit bureau</h2>
            <button routerLink="/bureau5" class="btn btn-danger custom-btn">
              Découvrir
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 bureaux-detail-3">
        <div class="gradient">
          <div class="container-title">
            <h1 class="title">06</h1>
            <h2 class="subtitle">petit bureau</h2>
            <button routerLink="/bureau6" class="btn btn-danger custom-btn">
              Découvrir
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="container-fluid explications">
  <h1 class="title-explications">Bureaux sur mesure</h1>
  <div class="container padding-explications">
    <div class="row">
      <div class="col-md-6">
        <p class="txt-for-explications">
         Centre d'affaires ***, à Saint-Victoret (13), vous propose un vaste choix de location de bureaux équipés allant de 9 m² à 29².
          Profitez de bureaux rénovés, modernes et design pour vous sentir comme à la maison.</p>
        <p class="txt-for-explications">
          Nos bureaux sont situés à 10 min de l'aéroport de Marignane, à 10 min du centre-ville de Marignane et proche de Marseille.
        </p>
        <p class="txt-for-explications">
          Chaque bureau dispose d'un trousseau de clé avec au minimum un bureau, une chaise, des rangements et une télévision connectée en très haute définition.<br>
          <br>Internet très haut débit (fibre) inclus.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/coworking-home.jpg" alt="photo coworking" class="img-coworking">
      </div>
      <div class="container container-services">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/img/icon-wifi.png" alt="icone wifi" class="img-icon">
            <h6 class="ss-title-services">Wi-Fi très haut débit</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/icon-cafe.png" alt="icone café" class="img-icon">
            <h6 class="ss-title-services">Machine à café commune</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/tv-icon.png" alt="icone tv" class="img-icon">
            <h6 class="ss-title-services">Télévision 4K</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/icon-cuisine.png" alt="icone cuisine" class="img-icon">
            <h6 class="ss-title-services">Cuisine commune</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/icon-restaurant.png" alt="icone restaurant" class="img-icon">
            <h6 class="ss-title-services">Restaurant à proximité</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/icon-parking.png" alt="icone parking" class="img-icon">
            <h6 class="ss-title-services">Parking à disposition</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/icon-aeroport.png" alt="icone aéroport & TGV" class="img-icon">
            <h6 class="ss-title-services">Proche aéroport et TGV</h6>
          </div>
          <div class="col-md-3">
            <img src="assets/img/icon-expert.png" alt="icone expert compatable" class="img-icon">
            <h6 class="ss-title-services">Expert comptable</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid google-maps">
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="16"><agm-marker [latitude]="lat" [longitude]="lng"></agm-marker></agm-map>
</div>


  <footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #F6C931;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
          </div>

        </div>

      </div>
    </div>
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">MDBootstrap</a>
          </p>
          <p>
            <a href="#!">MDWordPress</a>
          </p>
          <p>
            <a href="#!">BrandFlow</a>
          </p>
          <p>
            <a href="#!">Bootstrap Angular</a>
          </p>

        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
      </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://microvella.com"> Cyril VELLA - Microvella</a>
    </div>
  </footer>
