<section class="container-fluid home">
  <div class="gradient-main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-custom">
      <a class="navbar-brand" routerLink="/"><img src="../../assets/img/logo-moulin.png" alt="logo le moulin" class="logo"></a>
    </nav>
    <div class="container-title-header">
      <h1 class="title-header">Location de bureaux suréquipés</h1>
      <h1 class="title-header">à <span class="animated infinite bounce delay-2s">Saint-Victoret</span></h1>
    </div>
    <div class="informations-additionnal">
      <p class="info-txt">Coworking, bureaux équipés à louer - Réservez dès maintenant votre bureau à Saint-Victoret ! Plus d'informations au 06.70.68.17.74</p>
    </div>
  </div>
</section>

<section class="container-fluid details">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 bureaux-detail-1">
      <div class="gradient">
        <div class="container-title">
          <h1 class="title">01</h1>
          <h2 class="subtitle">petit bureau</h2>
          <button routerLink="/bureau1" class="btn btn-danger custom-btn">
            Découvrir
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 bureaux-detail-2">
      <div class="gradient">
        <div class="container-title">
          <h1 class="title">02</h1>
          <h2 class="subtitle">petit bureau</h2>
          <button routerLink="/bureau2" class="btn btn-danger custom-btn">
            Découvrir
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 bureaux-detail-3">
      <div class="gradient">
        <div class="container-title">
          <h1 class="title">03</h1>
          <h2 class="subtitle">petit bureau</h2>
          <button routerLink="/bureau3" class="btn btn-danger custom-btn">
            Découvrir
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 bureaux-detail-1">
      <div class="gradient">
        <div class="container-title">
          <h1 class="title">04</h1>
          <h2 class="subtitle">petit bureau</h2>
          <button routerLink="/bureau4" class="btn btn-danger custom-btn">
            Découvrir
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 bureaux-detail-2">
      <div class="gradient">
        <div class="container-title">
          <h1 class="title">05</h1>
          <h2 class="subtitle">petit bureau</h2>
          <button routerLink="/bureau5" class="btn btn-danger custom-btn">
            Découvrir
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 bureaux-detail-3">
      <div class="gradient">
        <div class="container-title">
          <h1 class="title">06</h1>
          <h2 class="subtitle">petit bureau</h2>
          <button routerLink="/bureau6" class="btn btn-danger custom-btn">
            Découvrir
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid louer-courte-duree">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="lcd-title">Louer courte durée</h1>
      <p class="txt-location-bureaux">Nous offrons la possibilité de louer un bureau individuelle d'une surface de XX m² à la journée.</p>
      <button routerLink="/louer-courte-duree" class="btn btn-danger btn-dark">
        Découvrir
      </button>
    </div>
  </div>
</section>


<section class="container-fluid explications">
  <h1 class="title-explications">Bureaux sur mesure</h1>
  <div class="container padding-explications">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="txt-for-explications">
          Centre d'affaires "Le moulin" à Saint-Victoret (13), vous propose un vaste choix de location de bureaux équipés allant de 9 m² à 29².
          Profitez de bureaux rénovés, modernes et design pour vous sentir comme à la maison.</p>
        <p class="txt-for-explications">
          Nos bureaux sont situés à 10 min de l'aéroport de Marignane, à 10 min du centre-ville de Marignane et proche de Marseille.
        </p>
        <p class="txt-for-explications">
          Chaque bureau dispose d'un trousseau de clé avec au minimum un bureau, une chaise, des rangements et une télévision connectée en très haute définition.<br>
          <br>Internet très haut débit (fibre) inclus.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
        <img src="assets/img/coworking-home.jpg" alt="photo coworking" class="img-coworking">
      </div>
      <div class="container container-services">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-wifi.png" alt="icone wifi" class="img-icon">
            <h6 class="ss-title-services">Wi-Fi très haut débit</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-cafe.png" alt="icone café" class="img-icon">
            <h6 class="ss-title-services">Machine à café commune</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/tv-icon.png" alt="icone tv" class="img-icon">
            <h6 class="ss-title-services">Télévision 4K</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-cuisine.png" alt="icone cuisine" class="img-icon">
            <h6 class="ss-title-services">Cuisine commune</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-restaurant.png" alt="icone restaurant" class="img-icon">
            <h6 class="ss-title-services">Restaurant à proximité</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-parking.png" alt="icone parking" class="img-icon">
            <h6 class="ss-title-services">Parking à disposition</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-aeroport.png" alt="icone aéroport & TGV" class="img-icon">
            <h6 class="ss-title-services">Proche aéroport et TGV</h6>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
            <img src="assets/img/icon-expert.png" alt="icone expert compatable" class="img-icon">
            <h6 class="ss-title-services">Expert comptable</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid google-maps">
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="16"><agm-marker [latitude]="lat" [longitude]="lng"></agm-marker></agm-map>
</div>


<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: #F6C931;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Restez en contact avec nous!</h6>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>

      </div>

    </div>
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Le moulin</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Centre d'affaires Le moulin, des bureaux sur-équipés à louer sur Saint-Victoret.</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Louer</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/bureau1" style="color: #F6C931">Bureau 1</a>
        </p>
        <p>
          <a routerLink="/bureau2" style="color: #F6C931">Bureau 2</a>
        </p>
        <p>
          <a routerLink="/bureau3" style="color: #F6C931">Bureau 3</a>
        </p>
        <p>
          <a routerLink="/bureau4" style="color: #F6C931">Bureau 4</a>
        </p>
        <p>
          <a routerLink="/bureau5" style="color: #F6C931">Bureau 5</a>
        </p>
        <p>
          <a routerLink="/bureau6" style="color: #F6C931">Bureau 6</a>
        </p>
        <p>
          <a routerLink="/louer-courte-duree" style="color: #F6C931">Bureau à la journée</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">a propos</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="#" style="color: #F6C931">Mentions légales</a>
        </p>
        <p>
          <a style="color: #F6C931" href="https://www.vella.fr" title="Agence immobilière joseph vella immobilier" target="_blank">Qui sommes-nous?</a>
        </p>
        <p>
          <a style="color: #F6C931" href="#">Plan du site</a>
        </p>
        <p>
          <a style="color: #F6C931" href="https://www.facebook.com/josephvellaimmobilier/">Réseaux sociaux</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> 945 Boulevard Abbadie, Saint-Victoret, 13.</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> vellaimmo@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 06 70 68 17 74</p>
      </div>
    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://microvella.com" style="color: #F6C931"> Cyril VELLA - Microvella</a>
  </div>
</footer>
