@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.home{
  height: 100vh;
  background-image: url('../../assets/img/coworking-home.jpg');
  background-position: center;
  background-size: cover;
  padding-right: 0 !important;
  padding-left: 0 !important;

}

.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid #555;
}

.informations-additionnal{
  position: absolute;
  bottom: 0px !important;
  width: 100%;
  height: auto;
  background-color: #1B1B1B !important;
  z-index: 99;
}

.gradient-main{
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 600px;
  background: linear-gradient(#1B1B1B, transparent);
}


.explications{
  background-image: url('../../assets/img/arrow-neon.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: #1B1B1B;
}

.txt-for-explications{
  color: #fff;
}

.padding-explications{
  padding: 70px;
}

.txt-location-bureaux{
  text-align: center;
  padding-top: 20px;
}

.navbar-nav{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  float: none;
}

.img-coworking{
  width: 100%;
}

.details{
  height: 100vh;
}

.louer-courte-duree{
  position: relative;
  padding-left: 0px !important;
}

.lcd-title{
  text-align: center;
  font-family: 'Kalam', cursive !important;
  padding-top: 20px;
}

.img-lcd{
  width: 100%;
  height: 100%;
}

.bureaux-detail-1{
  background-image: url('../../assets/img/coworking-home.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bureaux-detail-2{
  background-image: url('../../assets/img/fake-desk.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bureaux-detail-3{
  background-image: url('../../assets/img/fake-desk2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.services{
  background-image: url('../../assets/img/img-fake-coworking.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.gradient{
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100vh;
  margin: 0px !important;
  background-color: rgba(0,0,0,0.4);
}
.title{
  color: #F6C931;
  z-index: 100;
  font-weight: bold;
}

.gradient-services{
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;
  margin: 0px !important;
  background-color: rgba(0,0,0,0.4);
}

.container-title-header{
  width: 100%;
  position: absolute;
  z-index: 999 !important;
  color: white;
  padding-top: 250px;
}


.title-header{
  font-family: 'Kalam', cursive !important;
  width: 100%;
  text-align: center;
  font-size: 72px;
}

.title-header span {
  font-family: 'Montserrat', sans-serif;
  background-color: #F6C931;
}

.logo{
  width: 300px;
  height: 120px;
}



.nav-custom{
  background-color: rgba(0,0,0,0) !important;
}

.title-explications{
  color: #fff;
  text-align: center;
  text-shadow: #FC0 1px 0px 15px;
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: 'Kalam', cursive !important;
}

.subtitle{
  color: #fff;
  font-family: 'Kalam', cursive !important;

}


.container-title{
  padding: 40px;
  height: 100%;
  box-shadow: 0 0 25px 0 rgba(255,255,255,0.3);
}

.navbar-nav{
  float: right !important;
}

.container-title:hover {
  box-shadow: 0 0 25px 0 rgba(255,255,255,0.6);
}

.footer{
  height: 400px;
  background-color: aqua;
}

.custom-btn{
  position: absolute;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px solid #F6C931 !important;
  background-color: rgba(0,0,0,0);
}

.btn-dark{
  margin: 0 auto;
  padding-bottom: 10px;
}

.container-services{
  padding-top: 40px;
}

agm-map {
  height: 500px;
}

.google-maps{
  padding-right: 0px !important;
  padding-left: 0px !important;
  height: 500px;
}

.info-txt{
  color: #fff;
  padding: 20px;
  text-align: center;
}

.ss-title-services{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.unique-color-dark{
  background-color: black;
  color: white;
}

.img-icon{
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}


@media screen and (max-width: 1060px) {
  .container-title-header{
    padding-top: 100px;
  }
  .details {
    height: auto;
  }

  .gradient{
    height: auto;
  }

  .padding-explications{
    padding: 0px;
  }

  .bureaux-detail-1{
    height: auto;
  }
  .bureaux-detail-2{
    height: auto;
  }
  .bureaux-detail-3{
    height: auto;
  }

  .custom-btn{
    bottom: 20px;
    right: 20px;
    left: auto;
  }
  .container-title{
    padding: 50px;
  }
  .explications{
    height: auto;
  }
}


@media screen and (max-width: 768px) {
  .container-title-header{
    padding-top: 150px;
  }
  .title-header{
    font-size: 40px;
  }
  .details {
    height: auto;
  }

  .gradient{
    height: auto;
  }

  .padding-explications{
    padding: 0px;
  }

  .bureaux-detail-1{
    height: auto;
  }
  .bureaux-detail-2{
    height: auto;
  }
  .bureaux-detail-3{
    height: auto;
  }

  .custom-btn{
    bottom: 20px;
    right: 20px;
    left: auto;
  }
  .container-title{
    padding: 50px;
  }
  .explications{
    height: auto;
  }
}

@media screen and (max-width: 468px) {
  .container-title-header{
    padding-top: 100px;
  }
  .title-header{
    font-size: 30px;
  }
  .logo{
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .img-icon{
    width: 50px;
    height: 50px;
  }

  .ss-title-services{
    font-size: 11px;
  }

  .details {
    height: auto;
  }

  .gradient{
    height: auto;
  }

  .padding-explications{
    padding: 0px;
  }

  .bureaux-detail-1{
    height: auto;
  }
  .bureaux-detail-2{
    height: auto;
  }
  .bureaux-detail-3{
    height: auto;
  }

  .custom-btn{
    bottom: 20px;
   right: 20px;
    left: auto;
  }
  .container-title{
    padding: 50px;
  }
  .explications{
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .container-title-header{
    padding-top: 200px;
  }
  .title-header{
    font-size: 60px;
  }
  .details {
    height: auto;
  }

  .gradient{
    height: auto;
  }

  .padding-explications{
    padding: 0px;
  }

  .bureaux-detail-1{
    height: auto;
  }
  .bureaux-detail-2{
    height: auto;
  }
  .bureaux-detail-3{
    height: auto;
  }

  .custom-btn{
    bottom: 20px;
    right: 20px;
    left: auto;
  }
  .container-title{
    padding: 50px;
  }
  .explications{
    height: auto;
  }
}
